.apresentacao__imagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 30px;
    margin: 30px;
}

.apresentacao__imagem--carol {
    background-image: url(../../img/carol.jpeg);
}