.formacao {
    background: #EAF2FD;
}

.formacao__container {
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formacao--titulo {
    text-align: center;
    padding: 40px;
}

.formacao--item {
    padding: 100px;
    align-items: center;
    line-height: 1.2;
}

