.sobre-mim {
    background: #EAF2FD;
    align-items: center;
    padding: 30px;
    width: auto;
}

.sobre-mim__titulo {
    text-align: left;
    padding-left: 15px;
    padding-top: 64px;
    margin-bottom: 16px;
}

.sobre-mim__descricao {
    text-align: left;
    padding-left: 15px;
    margin-bottom: 64px;
    line-height: 1.3;
}