body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    line-height: 1;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-size: 1.25rem;
    font-weight: 400;
}